.logo-container {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 40px 0;
}

.searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0 16px;
}

.searchbar input {
    background-color: var(--color-bg-secondary);
    width: 100%;
    max-width: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    text-indent: 12px;
    font-weight: 600;
}

.searchbar input::placeholder {
    color: var(--color-text-secondary);
    font-weight: 600;
}

.searchbar button {
    width: 50px;
    height: 50px;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--color-accent);
}

.searchbar button:hover {
    background-color: #2a75bb;
}

.loading {
    width: 100%;
    min-height: 100%;
    padding: 100px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.error-message {
    color: var(--color-accent);
    text-align: center;
    font-weight: 600;
    padding: 40px 40px;
}

.welcome-message {
    text-align: center;
    padding: 40px 40px;
}

.welcome-message h1 {
    color: var(--color-accent);
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.welcome-message h2 {
    font-size: 1.1rem;
}

.pokemon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sprite-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sprite-container img {
    min-height: 200px;
    width: auto;
}
.pokemon-data-container {
    width: 100%;
    max-width: 400px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-bg-secondary);
    border-radius: 20px;
}
.pokemon-name {
    color: var(--color-accent);
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}
.pokemon-metadata {
    display: flex;
    gap: 90px;
}
.list-heading {
    padding: 20px 0 4px 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
